alembic==1.13.2
alive_progress==3.2.0
anthropic==0.45.2
attr==0.3.2
bpemb==0.3.6
chromadb==0.5.15
datasketch==1.6.5
datatypes==0.20.0
datefinder==0.7.3
fastapi==0.115.8
func_timeout==4.3.5
llama_index==0.12.17
networkx==3.4.2
nltk==3.9.1
numpy==1.24.4
openai==1.63.0
pandas==2.2.3
protobuf==3.20.3
pydantic==2.10.6
pytest==8.3.4
Requests==2.32.3
scikit_learn==1.6.1
snowflake_connector_python==3.12.3
SQLAlchemy==2.0.28
sqlglot==26.6.0
sqlparse==0.5.3
tiktoken==0.8.0
torch==2.2.2
torchtext==0.17.2
tqdm==4.66.6
uvicorn==0.34.0
