.configuration-panel {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 90vh;
}

.configuration-panel h4 {
    margin-bottom: 30px; 
}

.configuration-panel .preview-buttons {
    margin-top: auto; 
    align-self: flex-end;
}

.configuration-panel .preview-buttons .btn{
    margin: 5px;
    width: 100%;
}

.configuration-panel .callout {
    background-color: var(--cui-gray-100);
}