.configuration-panel {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 90vh;
}

.configuration-panel h4 {
    margin-bottom: 30px; 
}

.configuration-panel .btn {
    margin-top: auto; 
    align-self: flex-end;
}

.prompt-preview-modal .modal-body {
    white-space: pre-wrap; 
    font-family: monospace; 
}
